<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings configSource="ConnectionString.config"/>

  <system.web>
    <membership defaultProvider="MySQLMembershipProvider">
      <providers>
        <clear />
        <add name="MySQLMembershipProvider" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web,Version=6.5.4.0,    Culture=neutral,     PublicKeyToken=c5687fc88969c44d" connectionStringName="MySqlConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" autogenerateschema="false" applicationName="/" />
      </providers>
    </membership>
    <profile defaultProvider="MySqlProfileProvider">
      <providers>
        <clear />
        <add type="MySql.Web.Security.MySQLProfileProvider,  MySql.Web,Version=6.5.4.0,Culture=neutral,PublicKeyToken=c5687fc88969c44d" name="MySqlProfileProvider" applicationName="/" connectionStringName="MySqlConnection" autogenerateschema="false" />
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="MySQLRoleProvider">
      <providers>
        <clear />
        <add name="MySQLRoleProvider" type="MySql.Web.Security.MySQLRoleProvider, MySql.Web, Version=6.5.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="MySqlConnection" autogenerateschema="false" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
