<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <log4net>
    <root>
      <level value="Info"/>
      <!--<appender-ref ref="RollingFileAppender"/>-->
      <appender-ref ref="AdoNetAppender"/>
    </root>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log.txt"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="100"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy-MM-dd"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline"/>
      </layout>
    </appender>

    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <!--表示是记录1 条到缓冲区，满1条后再写入SQL server。调试时可以改为1，实际应用建议为100-->
      <bufferSize value="1"/>
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <connectionString value="data source=192.168.131.76;database=BimService;user id=BimService;password=VA1916w;integrated security=false;persist security info=True;"/>
      <commandText value="INSERT INTO Bim_Log([LogDate],[Level],Message,Exception,UserName,FunctionID) VALUES (@LogDate,@Level,@Message,@Exception,@UserName,@FunctionID)"/>
      <parameter>
        <parameterName value="@LogDate"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>
      <parameter>
        <parameterName value="@Level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout" value="%level"/>
      </parameter>
      <parameter>
        <parameterName value="@Exception "/>
        <dbType value="String"/>
        <size value="1000"/>
        <layout type="log4net.Layout.ExceptionLayout"/>
      </parameter>
      <!--自定义变量-->
      <parameter>
        <parameterName value="@Message"/>
        <dbType value="String"/>
        <size value="1000"/>
        <layout type="Warrentech.CommonLib.Log.CustomLayout">
          <conversionPattern value="%message"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@UserName"/>
        <dbType value="String"/>
        <size value="100"/>
        <layout type="Warrentech.CommonLib.Log.CustomLayout">
          <conversionPattern value="%user_name"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@FunctionID"/>
        <dbType value="Int32"/>
        <layout type="Warrentech.CommonLib.Log.CustomLayout">
          <conversionPattern value="%function_id"/>
        </layout>
      </parameter>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
