<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
	<remove name="LocalMySqlServer"/>
	<clear/>
	<!--<add name="MySqlConnection" connectionString="Server=localhost\SQLEXPRESS;Database=Warehouse;Uid=Warehouse;Pwd=123456;" providerName="MySql.Data.MySqlClient" />-->
	<add name="MySqlConnection" connectionString="Datasource=localhost;Database=warehouse;uid=root;pwd=123456;" providerName="MySql.Data.MySqlClient"/>
</connectionStrings>
